@charset "EUC-KR";
* {
    margin: 0;
    padding: 0;
}
.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
}
.form-wrap {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 8% auto;
    padding: 5px;
    overflow: hidden;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    margin-top:30px;
}
.checkbox {
    margin: 30px 10px 30px 0;
}
.submit {
    width: 85%;
    padding: 10px 30px;
    margin-top:50px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    background-color : #19ce60;
    color:white
}
.logo{
  width:100%
}
h6{
  margin-top: 200px;
  display: inline;
}
.find-id-pw{
  margin: 10%;
}
.sign-up{
  margin: 18%;
}
