body{padding:0px; margin:0px; color:white;}
.board{float:left; margin:auto; width:200px;}
.contents{float:right; margin:auto; width:1000px; position:relative; top:0px; right:0px; bottom:0px; left:0px;}
.BoardList{}
#conmain{margin:auto; width:100%;}
ul{padding:0px; margin:0px; list-style:none;}